<form [formGroup]="form" (ngSubmit)="register()">
    <div>
        <h2>Registration Form</h2>
        <div>
            <label for="username">Username: </label>
            <input type="text" placeholder="Peter" id="username" formControlName="username">
        </div>
        <div>
            <label for="email">Email: </label>
            <input type="text" placeholder="Peter@gmail.com" id="email" formControlName="email">
        </div>
        <div>
            <label for="password">password: </label>
            <input type="password" placeholder="******" id="password" formControlName="password">
        </div>
        <button>Submit</button>
    </div>

</form>
